/* ==========================================================================
   #CATEGORY-LIST
   ========================================================================== */

.c-category-list {
    margin-left: 0;
    list-style: none;
    line-height: 1;


    &--stay-above {
        position: relative;
        z-index: 3;
    }
}

    .c-category-list__item {
        display: inline-block;

        &:not(:last-child):after {
            // content: "\b7";
            content: ",";
            margin-left: -2px;
            margin-right: 2px;
        }
    }

        .c-category-list__link {
            border-bottom: 1px dotted;
            color: $c-textmuted;

            &:hover {
                color: $c-text;
            }
        }
