/* ==========================================================================
   #ARTICLE
   ========================================================================== */

.c-excerpt {
    position: relative;
    transition: $global-transition background-color;
    margin: 0;
    margin-bottom: $unit-tiny;
    margin-left: -$unit;
    border-radius: $global-radius;
    padding: $unit;
    width: calc(100% + #{$unit-large});

    &:hover {
        background-color: var(--module-color, $c-tertiary);
        color: $c-white;

        a {
            color: rgba($c-white, 0.7);

            &:hover {
                color: rgba($c-black, 0.8);
            }
        }
    }

    // &:not(:last-child) {
    //     border-bottom: 1px solid $c-border;
    // }

    // &:hover {
    //     border-color: transparent;
    // }
}

    .c-excerpt__header {
        color: var(--module-color, $c-primary);

        .c-excerpt:hover & {
            color: $c-white;
        }
    }

    .c-excerpt__body {
        margin-bottom: $unit-small;

        > p:last-child {
            margin-bottom: 0;
        }
    }

    .c-excerpt__footer {
        display: inline-block;
        position: relative;
        z-index: 2;
        white-space: nowrap;
        color: $c-textmuted;
        font-size: 80%;

        .c-excerpt:hover & {
            color: $c-white;
        }
    }

    .c-excerpt__link {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
    }

    .c-excerpt__number {
        position: absolute;
        top: 50%;
        left: -#{$unit * 3};
        margin-top: -.75em;
        border-radius: 50%;
        background-color: var(--module-color, $c-tertiary);
        width: 1.5em;
        height: 1.5em;
        text-align: center;
        line-height: 1.7em;
        color: $c-white;
        font-family: $font-headings;
        font-size: 2em;
    }
