/* ==========================================================================
   #ARTICLE
   ========================================================================== */

.c-article {
    position: relative;

    @include mq($from: tablet) {
        margin: 0 $unit-large;
    }
}

    .c-article__overlay {
        position: absolute;
        top: 0;
        right: -$unit-huge;
        bottom: $unit-large;
        left: -$unit-huge;
        z-index: 1;
    }

    .c-article__image {
        position: relative;
        transition: $global-transition background-color;
        z-index: -1;
        background-color: $c-white;
        background-size: cover;
        padding-top: 50%;
        background-blend-mode: multiply;

        @include mq($from: tablet) {
            margin-bottom: -$unit-large;

            &:after {
                content: "";
            }
        }

        .c-article__overlay:hover ~ & {
            background-color: $c-gray-3;
        }

        &:after {
            display: block;
            position: absolute;
            right: $unit-large;
            bottom: -1px;
            left: $unit-large;
            border-radius: $global-radius $global-radius 0 0;
            background-color: $c-white;
            height: $unit * 3;
        }

        // &:after {
        //     display: block;
        //     position: absolute;
        //     bottom: -1px;
        //     width: 100%;
        //     height: 50%;
        //     // @include clothoid-gradient($c-white, 1, 0, to top);
        //     background-image: linear-gradient(to top, $c-white, rgba($c-white, .5) 50%, 65%, rgba($c-white, 0));
        // }
    }

    .c-article__header {
        margin-bottom: $unit;

        .c-article__overlay:hover ~ & .c-article__title a {
            color: $c-primary-darker;
        }
    }

        .c-article__title {
            margin-bottom: 0;
        }

        .c-article__subtitle {
            margin-bottom: $unit-small;
            color: $c-textmuted;
            font-family: $font-headings;
            font-size: 140%;
        }

        .c-article__meta {
            color: $c-textmuted;
            font-size: 70%;

            > * {
                display: inline-block;
                margin-bottom: 0;
            }

            // a {
            //     border-bottom: 1px dotted $c-textmuted;
            //     color: $c-textmuted;

            //     &:hover {
            //         color: $c-text;
            //     }
            // }
        }


    .c-article__footer {
        margin: $unit-large 0;
        border-top: 1px solid $c-border;
        border-bottom: 1px solid $c-border;
        padding: $unit 0;
        font-size: 80%;
    }

        .c-article__author-image {
            border-radius: 54px;
            width: 64px;
            height: 64px;
        }
