///* ========================================================================
//   #GLOBAL
//   ======================================================================== */
// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.

// Standardise some UI treatments.
$global-radius: 3px;
$global-transition: (1/5) + s;
$global-shadow: 0 2px 5px rgba(0, 0, 0, .3);

$inuit-offsets: true;
$inuit-wrapper-width: 820px;
$inuit-fractions: 1 2 3 4 5 !default;

$inuit-responsive-spacing-directions: (
  null: null,
  "t": "-top",
  "r": "-right",
  "b": "-bottom",
  "l": "-left",
  "h": ("-right", "-left"),
  "v": ("-top", "-bottom")
);

$inuit-responsive-spacing-properties: (
  "m": "margin",
  "p": "padding"
);

$inuit-responsive-spacing-sizes: (
  null: $inuit-global-spacing-unit,
  \-\-: $inuit-global-spacing-unit-tiny,
  \-:   $inuit-global-spacing-unit-small,
  \+:   $inuit-global-spacing-unit-large,
  \+\+: $inuit-global-spacing-unit-huge,
  '0': 0
);

$inuit-crops: (
  (1:1),
  (16:9),
);
