/* ==========================================================================
   #HIDE
   ========================================================================== */

/**
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.u-hidden-visually {
  @include inuit-hidden-visually();
}


/**
 * Hide visually and from screen readers.
 */

.u-hidden {
  display: none !important;
}

/**
 * .u-hidden@from-tablet
 * .u-hidden@until-tablet
 */

$breakpoint-separator: \@;

@each $bp-name, $bp-value in $mq-breakpoints {

    .u-hidden#{$breakpoint-separator}from-#{$bp-name}{
        @include mq($from: $bp-name) {
            display: none;
        }
    }

    .u-hidden#{$breakpoint-separator}until-#{$bp-name}{
        @include mq($until: $bp-name) {
            display: none;
        }
    }

}
